Banks/old/
*.pdf
BAND_Spring19_online/190226_Looking_for_reactions/bandPhoton2CLAS
BAND_Spring19_online/190226_Looking_for_reactions/ep
BAND_Spring19_online/190226_Looking_for_reactions/ePip
BAND_Spring19_online/190226_Looking_for_reactions/epPipPim
BAND_Spring19_online/190226_Looking_for_reactions/epPipPim_new
BAND_Spring19_online/190226_Looking_for_reactions/eppPim
BAND_Spring19_online/190301_TimeWalkParameters/timeWalk
BAND_Spring19_online/190301_TimeWalkParameters/timeWalkPar_L.txt
BAND_Spring19_online/190301_TimeWalkParameters/timeWalkPar_R.txt
BAND_Spring19_online/190228_band_time_spectra/mean_time
BAND_Spring19_online/190314_Attenuation/attenuation
BAND_Spring19_online/190315_Paddle2Paddle/TDC_layer_offsets.txt
BAND_Spring19_online/190315_Paddle2Paddle/TDC_paddle_offsets.txt
BAND_Spring19_online/190315_Paddle2Paddle/mean_time
BAND_Spring19_online/190315_Paddle2Paddle/parameter_extraction
BAND_Spring19_online/190315_Paddle2Paddle/parameter_test
BAND_Spring19_online/190314_Attenuation/diff_adc_tdc
BAND_Spring19_online/190325_timewalk_photodiode/timeWalkPar_L.txt
BAND_Spring19_online/190325_timewalk_photodiode/timeWalkPar_R.txt
BAND_Spring19_online/190325_timewalk_photodiode/timeWalk_photodiode
BAND_Spring19_online/190325_timewalk_photodiode/timeWalk_photodiode_perBar
BAND_Spring19_online/190325_timewalk_photodiode/timeWalk_photodiode_perPMT
BAND_Spring19_online/190325_timewalk_photodiode/test_parameters
BAND_Spring19_online/190328_Calib_check/mean_time
BAND_Spring19_online/190402_Paddle2Paddle_bandHits/parameter_extraction_rawBanks
BAND_Spring19_online/190402_Paddle2Paddle_bandHits/parameter_test
BAND_Spring19_online/190402_Paddle2Paddle_bandHits/TDC_layer_offsets.txt
BAND_Spring19_online/190402_Paddle2Paddle_bandHits/TDC_layer_offsets_rawBanks.txt
BAND_Spring19_online/190402_Paddle2Paddle_bandHits/TDC_paddle_offsets.txt
BAND_Spring19_online/190402_Paddle2Paddle_bandHits/TDC_paddle_offsets_rawBanks.txt
BAND_Spring19_online/190328_Calib_check/out.root
BAND_Spring19_online/190329_vEff_lrOff/offsets_veff
BAND_Spring19_online/190329_vEff_lrOff/TEST_effective_velocity.txt
BAND_Spring19_online/190329_vEff_lrOff/TEST_lr_offsets.txt
Examples/example
lib/libclas12banks.a
lib/libhipo.a
lib/libclasphysics.a
*.o
.DS_Store
