Banks/old/
*.pdf
BAND_Spring19_online/190226_Looking_for_reactions/bandPhoton2CLAS
BAND_Spring19_online/190226_Looking_for_reactions/ep
BAND_Spring19_online/190226_Looking_for_reactions/ePip
BAND_Spring19_online/190226_Looking_for_reactions/epPipPim
BAND_Spring19_online/190226_Looking_for_reactions/epPipPim_new
BAND_Spring19_online/190226_Looking_for_reactions/eppPim
BAND_Spring19_online/190301_TimeWalkParameters/timeWalk
BAND_Spring19_online/190301_TimeWalkParameters/timeWalkPar_L.txt
BAND_Spring19_online/190301_TimeWalkParameters/timeWalkPar_R.txt
Examples/example
lib/libclas12banks.a
lib/libhipo.a
lib/libclasphysics.a
*.o
.DS_Store
