Banks/old/
*.pdf
BAND_Spring19_online/eppPi
BAND_Spring19_online/mean_time
BAND_Spring19_online/bandPhoton2CLAS
BAND_Spring19_online/epPipPim
Examples/example
lib/libclas12banks.a
lib/libhipo.a
*.o
.DS_Store
